.notification-box {
  background-color: #E3F295;
  padding: 1rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.notification-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #03585B;
}

.notification-list {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  color: #279E82;
}